body {
    background: rgba(70, 150, 255, 0.938);
}

h1 {
    font-size: 28pt;
    text-shadow:1px 1px 2px black;
}

header {
    color: white;
    text-align: center;
}

section {
    box-shadow: 3px 3px 10px black;
    background: white;
    border-radius: 8px;
    padding: 80px;
    width: 500px;
    margin: auto;
}

footer {
    color: white;
    text-align: center;
}