body {
    background: rgba(70, 150, 255, 0.938);
    font: normal 18pt arial;
}

h1 {
    font-size: 28pt;
    text-shadow:2px 2px 3px black;
}

header {
    color: white;
    text-align: center;
}

div {
    text-align: center;
    padding: 8px;
}

section {
    box-shadow: 3px 3px 10px black;
    background: white;
    border-radius: 8px;
    padding: 16px;
    width: 500px;
    margin: auto;
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}